body{
            
    
    
            background: #0077aa;
            background: -webkit-linear-gradient(left,#0077aa,#19aaaa);
            background: -moz-linear-gradient(left,#0077aa,#19aaaa);
            background: linear-gradient(left,#0077aa,#19aaaa);
            
            min-height:100vh;
}
.mycard{
    background: white;
	padding:15px;
	margin:25px;
	box-shadow: 7px 7px 5px #50888888;
}
#pool{
	height:24vh;
}
#graph{
	height:67vh;
}
#investment-account{
	height: calc(80vh + 25px);
	/*this will mess up for mobile stacked view*/
	margin-left:0px;
}
#col1{
	padding-right: 0px;
}
#col2{
	padding-left:0px;
}
#columns{
	padding-left:50px;
	padding-right:50px;
}
.pool-val{
	font-size: 250%;
}
.val-col{
	padding-left:40px;
}
.label{
	margin-bottom:0px;
}
.main-label{
	color:#bbbbbb;
}
nav{
	background: #0077aa;
            background: -webkit-linear-gradient(left,#0077aa,#19aaaa);
            background: -moz-linear-gradient(left,#0077aa,#19aaaa);
            background: linear-gradient(left,#0077aa,#19aaaa);
}
.navbar-item{
	color:white;
}