<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">

    <script type="text/script" src="../javascripts/dashboard.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar is-transparent" role="navigation" aria-label="dropdown navigation">
      <a class="navbar-item">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
    
      <div class="navbar-item">
        <a class="navbar-item">
          Dashboard
        </a>
      </div>
    </nav>
  <div id="columns" class="columns">
    <div id="col1" class="column is-three-quarters">
      <div id="pool" class="mycard">
        <label class="label">Rock Complex's pool</label>
        <div class="columns">
        <div class="column val-col">
          <label class="label">Value outstanding</label>
          <p class="pool-val">$10000</p>
        </div>
        <div class="column val-col">
          <label class="label">Current expected rate of return</label>
          <p class="pool-val">$3000</p>
        </div>
        </div>
      </div>
      <div id="graph" class="mycard">
        <label class="label">Investment history</label>
      </div>
    </div>
    <div id="col2" class="column">
      <div id="investment-account" class="mycard">
        <label class="label">Investment account</label>  
      </div>
    </div>
  </div> 

  </body>
</html>