<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poor Complex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./build/home.css">
    <script src="./app.js"></script>
  </head>
  <body>
   <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <a href="home.html" class="navbar-item">
        <b>Poor Complex</b>
      </a>
    
      <div class="navbar-item">
        <a href="lender.html" class="navbar-item">
          Lender
        </a>
      </div>

      <div class="navbar-item">
        <a href="borrower.html" class="navbar-item">
          Borrower
        </a>
      </div>
    </nav>

  <section class="section">
    <div class="container">
      <div class="column">
        <div class="title-container">
          <h1 class="title" id="home-title">
              Decentralizing How We Lend
          </h1>
          <p class="subtitle" id="home-subtitle">
            Built on the Ethereum blockchian
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column"> 
            <div class="card">
                <div class="card-content">
                  <p class="title">
                    Lenders
                  </p>
                  <p class="subtitle">
                    Got spare cash? Invest, and earn interest.
                  </p>
                  <div class="ul-container">
                    <ul>
                        <li> <i class="fa fa-usd" aria-hidden="true"></i> Competitive Returns </li>
                        <li> <i class="fa fa-usd" aria-hidden="true"></i> Flexible Investment Periods </li>
                        <li> <i class="fa fa-usd" aria-hidden="true"></i> Customized Risk </li>
                    </ul>
                  </div>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                        <a class="button is-link is-outlined"> Invest Now! </a>
                    </span>
                  </p>
                </footer>
              </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                  <p class="title">
                    Borrowers
                  </p>
                  <p class="subtitle">
                    Need money quick? Get money at a great rate.
                  </p>
                  <div class="ul-container">
                    <ul>
                        <li> <i class="fa fa-usd" aria-hidden="true"></i> No Hidden Fees </li>
                        <li> <i class="fa fa-usd" aria-hidden="true"></i> No Middle Man </li>
                        <li> <i class="fa fa-usd" aria-hidden="true"></i> Instant Cash </li>
                      </ul>
                  </div>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                      <span>
                          <a class="button is-link is-outlined"> Apply Now! </a>
                      </span>
                  </p>
                </footer>
              </div>
        </div>
      </div>

    </div>
  </section>
  </body>
</html>