<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poor Complex</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="./build/home.css">
    <script src="./app.js"></script>
  </head>
  <body>
   <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <a href="home.html" class="navbar-item">
        <b>Poor Complex</b>
      </a>
    
      <div class="navbar-item">
        <a href="lender.html" class="navbar-item">
          Lender
        </a>
      </div>

      <div class="navbar-item">
        <a href="borrower.html" class="navbar-item">
          Borrower
        </a>
      </div>
    </nav>

    <div class="container">

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 5%;">
            <p class="title" style="color:white;">
                Lenders Contribution
            </p>
            <p class="subtitle" style="color:white;">
                Got spare cash? Invest, and earn interest.
            </p>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 3%;">
            <label class="label" style="font-size: 24px; color: white;"> 
                Enter the contribution amount:
            </label>
            
            <div class="field has-addons">
                <p class="control">
                        <span class="select">
                        <select>
                            <option>ΞTH</option>
                            <option>$  </option>
                        </select>
                        </span>
                </p>
                <div class="control" style="width: 65%;">
                    <input class="input" type="text" placeholder="Amount of money">
                </div>
            </div>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 3%;">
            <label class="label" style="font-size: 24px; color: white;"> 
                Enter the estimated length until return:
            </label>
            
            <div class="field has-addons">
                <p class="control">
                    <span class="select">
                    <select>
                        <option>DD </option>
                        <option>MM </option>
                        <option>YY </option>
                    </select>
                    </span>
                </p>
                <div class="control" style="width: 65%;">
                    <input class="input" type="number" placeholder="Length of time">
                </div>
            </div>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2.5%;">
            <label class="label" style="font-size: 24px; color: white;"> Approximate earned interest rate: 7% </label>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 2.5%;">
            <label class="checkbox" style="font-size: 16px; color: white">
                <input type="checkbox">
                I understand the terms and conditions.
            </label>
        </div>

        <div class="center-div" style="margin: auto; width: 50%; padding-top: 5%;">
            <a class="button is-link is-inverted"> Contribute! </a>
        </div>

    </div>

  </body>
</html>