<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="../images/logo.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loaner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/loaner.css">

    <script type="text/script" src="../javascripts/loaner.js"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <a href="home.html" class="navbar-item">
        <b>Poor Complex</b>
      </a>
    
      <div class="navbar-item">
        <a href="loaner.html" class="navbar-item">
          Loaner
        </a>
      </div>

      <div class="navbar-item">
        <a href="leecher.html" class="navbar-item">
          Leecher
        </a>
      </div>
    </nav>
  <div id="columns" class="columns">
    <div id="col1" class="column is-three-quarters">
      <div id="pool" class="mycard">
        <label class="label main-label">Poor Complex's pool</label>
        <div class="columns">
        <div class="column val-col">
          <label class="label">Value outstanding</label>
          <p class="pool-val">$10000</p>
        </div>
        <div class="column val-col">
          <label class="label">Current expected rate of return</label>
          <p class="pool-val">$3000</p>
        </div>
        </div>
      </div>
      <div id="graph" class="mycard">
        <label class="label main-label">Investment history</label>
      </div>
    </div>
    <div id="col2" class="column">
      <div id="investment-account" class="mycard">
        <label class="label main-label">Investment account</label>  
      </div>
    </div>
  </div> 

  </body>
</html>