<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Welcome to PoorComplex!
        </h1>
        <p class="subtitle">
          New user? Create an account!
        </p>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <ul>
                        <input class="input" type="text" placeholder="Choose Display Name">
                </ul>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <ul>
                        <input class="input is-success" type="text" placeholder="Username" value="PoorStudent">
                        <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fa fa-check"></i>
                        </span>
                </ul>
            </div>
            <p class="help is-success">This username is available</p>
          </div>
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <ul>
                        <input class="input is-success" type="email" placeholder="Email" value="PoorStudent@gmail.com">
                        <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                          <i class="fa fa-check"></i>
                        </span>
                </ul>
            </div>
            <p class="help is-success">This email is valid</p>
          </div>
          
          <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <ul>
                            <input class="input is-success" type="password" placeholder="Password" value="Password">
                            <span class="icon is-small is-left">
                              <i class="fa fa-lock"></i>
                            </span>
                            <span class="icon is-small is-right">
                              <i class="fa fa-check"></i>
                            </span>
                    </ul>
                </div>
                <p class="help is-success">This password is valid</p>
            </div>
          
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Create my account!</button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>
      </div>
    </section>
</html>





